* {
    font-family: sans-serif;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 5px ;
}
.logo{
    border: solid 2px;
    padding: 6px 1px;
}
.login{
    align-items: center;
    display: flex;
    justify-content: center;
}
.login a{
    color: black;
    padding: 4px 17px;
    text-decoration: none;
}
.login .get{
    border: solid 2px;
    padding: 2px 1.8px;
}
hr{
    border: solid 1.5px;
}
main .txt{
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 6px;
}
section{
    padding: 5% 17%;
}
.first{
    border: solid 3px;
    font-size: 17px;
    font-weight: 500;
    padding: 3px 4px 5px ;
}
img{
    width: 64vw;
    margin: 4px 1.4px;
}
section p{
    border: solid 2px;
    font-size: 13px;
    font-weight: 300;
    padding: 3px 3px 11px;
}
section h2{
    font-weight: 300;
    padding: 7px;
}
.more{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 400;
}
.more h5{
    padding: 3px 5px;
}
footer{
    align-items: center;
    display: flex;
    font-size: 12px;
    font-weight: 300;
    justify-content: space-between;
    margin: 8px 24px;
    padding: 5px ;
}
footer .foot{
    border: solid 2px;
    padding: 2px 16px;
} 
footer .ft a{
    color: black;
    padding: 20px; 
    text-decoration: none;
}